*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CCC;
}

body, ul, p{
    font-size: 1rem;
    font-family: sans-serif;
    color: #333;
    list-style: none;
    text-align: center;
}

li{
    font-size: 1.75rem;
    font-family: sans-serif;
    color: #333;
    list-style: none;
    text-align: center;
    margin-bottom: 10.5px;
}

#container{
    /* min-width: 430px; */
    /* 2560px é a resolução 4K */
    max-width: 2560px;
}

header{
    background-color: #000;
    width: 100%;
    /* margem interna para não ficar colado na parte superior */
    padding-top: 20px;
    padding-bottom: 20px;
}

/* header a.logo está estilizando a tag "a" com classe "logo" que está dentro do header */
header a.logo{
    width: 160px;
    display: block;
    /* parte superior e inferior, direita e esquerda */
    /* ordem do margin: top, right, bottom, left (sentido horário) */
    /* nesse caso está sendo (top, bottom) e (right, left) */
    margin: 0 auto;
}

header a.logo img{
    width: 100%;
    margin-top: -7px;
}

.menu{
    text-align: center;
    margin-right: 10px;
}

.menu a{
    color: #FFF;
    text-decoration: none;
}

.menu li{
    padding: 5px;
}

.banner{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    /*
    ordem do background-size: largura e altura
    background-size: 100% auto;
    */
    background-size: cover;
    height: 300px;
    width: 100%;
}

.banner h1{
    color: #FFF;
    font-size: 1.3rem;
    text-align: center;
    /* rgba: para mexer na transparência da cor */
    background-color: rgba(0, 0, 0, 0.5);
}

.galeria figure{
    max-width: 500px;
    margin: 10px auto;
    /*
    width: 412px;
    margin: 10px auto;
    */
}

.galeria figure img{
    width: 100%;
}

footer{
    background: #222;
    width: 100%;
    padding: 20px 10px;
}

footer p{
    font-weight: bold;
    font-size: 1.35rem;
    color: #FFF;
}

/* Aplicação do flexbox */
.galeria{
    display: flex;
    /* Direção em linhas, portanto ficará uma do lado da outra */
    flex-direction: row;
    /* Os itens irão quebrar a linha se ficarem muito apertados */
    flex-wrap: wrap;
    /* Alinhamento dos itens ao longo do eixo principal */
    justify-content: center;
    /* Alinhamento dos itens de acordo com o eixo transversal */
    /* Todos vão estar alinhado de acordo com o primeiro item, neste caso */
    align-items: flex-start;
}

@media only screen and (min-width: 465px){
    /* Colocando na lista um item do lado do outro */
    .menu li{
        display: inline-block;
    }

    header .logo img{
        width: 75%;
        margin-top: 0.5px;
    }

    /* Duas imagens, uma do lado da outra */
    /* figure é para indexação do google, usar div se a imagem não for relevante */
    .galeria figure{
        width: 33%;
        /* inline-block, se tiver espaço ele alinha do lado as imagens */
        display: inline-block;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px){
    .galeria figure{
        width: 49%;
    }

    /* logo para um lado e menu para o outro */
    header a.logo{
        float: left;
    }

    header{
        height: 75px;
    }

    nav{
        float: right;
        /* margin-top: 25px;
        margin-right: 20px; */
    }
}